{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/../../static/css/login.css' %}">
{% endblock css %}

{% block content %}
<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card">
                    <div class="card-header center-align">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="center-align">
                                <button type="submit" class="btn waves-effect waves-light">Login</button>
                            </div>
                        </form>
                        <p class="center-align">Not a member yet? <a href="{% url 'signup' %}">Sign up!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}