# === GLOBAL ===

*.log
*.pid
*.seed
*.pid.lock
*.orig
*.bak
*.swp
*~.nib
*.iml
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.o
*.class
*.env
*.conf
*.ini
*.sqlite3
*.db
*.db-shm
*.db-wal
*.sql
*.data
__pycache__/
.cache/
*.cache
.DS_Store
Thumbs.db
.notes_commandes

# === Root ===
.coverage
backup_db.sh
dev.sh  

# === PYTHON / BACKEND ===
env/
venv/
.venv/
backend/venv/
backend/myenv/
backend/.env
backend/media/
backend/profile_pictures/
backend/db_linguify/

# === FRONTEND ===
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/prisma/
frontend/public/media/
frontend/public/landing/
frontend/public/templates_storage/
.qodo
