{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container-fluid py-5 text-center"
          style="background: linear-gradient(90deg, #ffffff 0%, #00fff3 100%);">

        <section>
            <div class="container">
                <h1 class="display-1 mb-4">Votre endroit centralisé pour apprendre <span class="text-primary">des langues.</span>
                </h1>
                <h2 class="display-4 mb-5">Simple, efficace et <span class="text-secondary">accessible !</span></h2>
                <a href="{% url 'signup' %}" class="btn btn-primary btn-lg mr-3">S'inscrire, c'est gratuit</a>
                <a href="{% url 'login' %}"
                   class="btn btn-outline-primary btn-lg">Se connecter</a>
            </div>
        </section>


        <!-- Section Introduction -->
        <section class="accueil-introduction container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="lead text-justify mb-0" style="text-align: justify; hyphens: auto;">
                        Découvrez un monde de possibilités avec Linguify. Apprenez une langue sans limites et obtenez des certifications pour attester de votre niveau. Notre mission est de rendre l'apprentissage des langues aussi accessible que possible, car nous croyons en la puissance de la communication multiculturelle. Depuis plus de 5 ans, nous nous efforçons de capturer l'essence de chaque instant avec passion et dévouement, afin que chaque apprenant puisse atteindre ses objectifs linguistiques et s'épanouir dans un monde de diversité et d'opportunités.
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Démarrez Votre Voyage !</a>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'images/logos/logo-linguify.png' %}" alt="Linguify" class="logo-img img-fluid">
                </div>
            </div>
        </section>
    </main>
{% endblock %}

