.rc-footer {
    border-top: 1px solid #e4e4e4;
    padding-top: 2.75rem;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li::before {
    content: "▹";
    margin-right: 5px;
    color: #4CAF50;
}

.error-message {
    color: red;
}

.content-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

/* Styles pour le contenu à l'intérieur du conteneur */
.content-container h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.content-container p {
    color: #555;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

.content-container a {
    color: #ff7b00;
    text-decoration: none;
    font-weight: bold;
}

.content-container a:hover {
    text-decoration: underline;
}

/* Style pour l'élément décoratif */
.decoration {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #ff7b00;
    border-radius: 50%;
    z-index: -1;
}
p {
    color: #555;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

.profile-picture {
    border-radius: 50%;
    margin-right: 10px;
}

/* pricing.html */
    .card {
      border:none;
      padding: 10px 50px;
    }

    .card::after {
      position: absolute;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card:hover {


      transform: scale(1.02, 1.02);
      -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden;
      will-change: transform;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    }

    .card:hover::after {
      opacity: 1;
    }

    .card:hover .btn-outline-primary{
      color:white;
      background:#007bff;
    }
/* end of pricing.html */
