{% extends "notebook/base.html" %}
{% load static %}

{% block header_content %}
{% include 'notebook/components/navbar.html' %}
{% endblock %}

{% block content %}
<div class="notebook-workspace d-flex h-100">
    {% include 'notebook/components/sidebar.html' %}

    <!-- Zone d'edition principale -->
    <div class="notebook-editor flex-grow-1">
        <!-- Editeur de note -->
        <div id="noteEditor" class="h-100 d-flex flex-column">
            {% include 'notebook/components/editor-header.html' %}
            
            <!-- Contenu de l'editeur avec onglets -->
            <div class="editor-content flex-grow-1 d-flex flex-column">
                {% include 'notebook/components/editor-tabs.html' %}
                
                <!-- Contenu des onglets -->
                <div class="tab-content flex-grow-1" id="noteEditorContent">
                    {% include 'notebook/components/content-panel.html' %}
                    {% include 'notebook/components/metadata-panel.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'notebook/components/tags-management-modal.html' %}

<!-- CSRF Token hidden input -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'notebook/js/notebook.js' %}"></script>
<script src="{% static 'notebook/js/notebook-tags-management.js' %}"></script>
{% endblock %}