{% extends "saas_web/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Notebook - Notes{% endblock %}

{% block header_content %}
{% include 'components/header/app_header.html' %}
{% include 'components/notebook_navbar.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'notebook/css/notebook.css' %}">
{% endblock %}

{% block extra_head %}
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
{% endblock %}

{% block content %}
{% csrf_token %}

<!-- Main notebook app - FAST LOAD -->
<div class="notebook-app" x-data="notebookApp()" x-init="init()">
    <div class="notebook-layout">
        <!-- Sidebar Component -->
        {% include 'components/notebook_sidebar.html' %}

        <!-- Editor Component -->
        {% include 'components/notebook_editor.html' %}
    </div>

    <!-- Modal Component -->
    {% include 'components/notebook_modal.html' %}
</div>

<!-- Scripts chargés en parallèle pour vitesse F1 -->
<script src="{% static 'notebook/js/notebook.js' %}"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}