{% load static %}

<!-- Learning Content (loaded via HTMX) -->
{% if active_unit_id %}
    <!-- Unit Detail View -->
    {% include 'language_learning/partials/unit_detail.html' %}
{% else %}
    <!-- Units List View (Default) -->
    <div class="row">
        <div class="col-md-8" id="units-container">
            {% include 'language_learning/partials/units_list.html' %}
        </div>

        <!-- Progress Panel -->
        <div class="col-md-4" id="progress-container">
            {% include 'language_learning/partials/progress_panel.html' %}
        </div>
    </div>
{% endif %}

<!-- Module Modal -->
<div class="modal fade" id="moduleModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="module-modal-content">
                <!-- Module content will be loaded here via HTMX -->
            </div>
        </div>
    </div>
</div>