{% load static %}

<!-- Learning Content - API Driven -->
<div class="row">
    <div class="col-12" id="units-container">
        <!-- Units List View -->
        {% include 'language_learning/partials/units_list_api.html' %}

        <!-- Unit Detail View -->
        {% include 'language_learning/partials/unit_detail_api.html' %}

        <!-- Lessons View -->
        {% include 'language_learning/partials/lessons_view_api.html' %}

        <!-- Exercises Interface -->
        {% include 'language_learning/partials/exercises_interface.html' %}
    </div>
</div>

<!-- Module Modal -->
<div class="modal fade" id="moduleModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="module-modal-content">
                <!-- Module content will be loaded here via API -->
            </div>
        </div>
    </div>
</div>