{% extends "saas_web/base.html" %}
{% load static %}

{% block title %}Language Learning - OpenLinguify{% endblock %}

{% block content %}
<!-- Données pour l'application Language Learning -->
<script id="language-learning-data" type="application/json">
{
    "selectedLanguage": "{{ selected_language }}",
    "selectedLanguageName": "{{ selected_language_name }}",
    "courseUnits": {{ course_units|safe }},
    "activeUnit": {{ active_unit|safe }},
    "activeUnitModules": {{ active_unit_modules|safe }},
    "userStreak": {{ user_streak }},
    "viewType": "{{ view_type }}"
}
</script>

<!-- Language Learning App with HTMX + Alpine.js -->
<div id="language-learning-app" class="language-learning-app" x-data="learningDashboard()">

    <!-- Learning Navbar -->
    <div id="navbar-container">
        {% include 'language_learning/partials/navbar.html' %}
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div id="main-content" class="fade-in">
            <!-- Le contenu sera affiché directement ici -->
            {% include 'language_learning/partials/learning_content.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<!-- Learning styles -->
<link rel="stylesheet" href="{% static 'language_learning/css/learning.css' %}">
{% endblock %}

{% block extra_js %}
<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<!-- Alpine.js -->
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<!-- Learning JavaScript -->
<script src="{% static 'language_learning/js/learning.js' %}"></script>
{% endblock %}