{% extends 'saas_web/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Bugs & Feedbacks" %} | Open Linguify{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'authentication/css/feedback.css' %}">
{% endblock %}

{% block header_content %}
{% include 'components/header/app_header.html' with page_title="Bugs et commentaires" brand_url="/auth/feedback/" show_feedback_only=True %}
{% endblock %}

{% block content %}
<div>
    {% include 'authentication/feedback/partials/navbar.html' %}
</div>

<div class="feedback-content-wrapper">
    {% block feedback_content %}
    {% endblock %}
</div>
{% endblock %}